.header {
    background-color: #fff;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo{
    margin-right: auto;
  }
  .logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .logo1{
      margin: auto;
  }
  .logo1 img {
    width: 80px;
    height: 80px;
    border-radius: 60%;
  }
  
  /* Navigation */
  .nav {
    display: flex;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-right: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #333;
  }


  @media screen and (max-width: 600px)
 {
    .logo img {
        width: 35px;
        height: 35px;
      }

      .logo1 img {
        width: 40px;
        height: 40px;
        border-radius: 30%;
      }
  
}
  