body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.logo {
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the logo circular */
  overflow: hidden; /* Ensures image doesn't overflow */
}

.logo img {
  width: 100%;
  height: auto;
}

.toggle-btn {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.toggle-btn .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.nav-links {
  display: flex;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links ul li {
  margin-right: 20px;
}

.nav-links ul li:last-child {
  margin-right: 0;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .toggle-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #333;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
  }

  .nav-links.active {
    display: flex;
  }
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.social-links a:hover {
  text-decoration: underline;
}


.about-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}

.about-content {
  flex: 1;
  text-align: center;
}

.about-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-image {
  max-width: 50%;
  border-radius: 10px;
  animation: slide-in 1s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


